.page_content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 93%;
    margin-left: 6.5%;
}
.servidor_alertas{
    display: flex;
}
.header {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 255, 255); */
    width: 95%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.info_alertas {
    display: flex;
    align-items: center;
}





/* CONTENT */
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 92vw;
}

.kpis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    height: 40vh;
    width: 100%;
    border-radius: 0.5rem;
}
.kpi {
    height: 95%;
    width: 24.3%;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}
#kpi3{
    width: 32.5%;
}
.box-dash {
    margin-top: 1%;
    width: 100%;
    height: 37vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
}
.dash-kpi{
    display: flex;
    justify-content: space-between;
    width: 92vw;
    gap: 1%;
}
#dash2 {
    width: 66%;
}

.dash-kpi .kpis {
    flex: 1;
    width: 100%;
}

.dash-kpi .kpis .kpi {
    margin-left: 2%;
    flex: 2;
    margin-top: -5%;
    height: 92%;
}
.double-dashs {
    display: flex;
    justify-content: space-between;
}
.double-dashs .box-dash {
    margin-top: 1%;
    width: 49%;
    height: 37vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
}
