.filtros {
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap; 
    width: 99%;
    border: none;
}

.filtros select {
    flex: 1 1 200px;
    background-color: #072F4E;
    margin-right: 1vw;
    border: none;
    border-radius: 0 0.3vw 0.3vw 0;
    padding: 0.5em 1em;
    font-size: clamp(0.8rem, 0.9vw, 1rem);
    color: white;
    cursor: pointer;
}

.filtros input {
    flex: 2 1 200px;
    background-color: #072F4E;
    border: none;
    border-radius: 0 0.3vw 0.3vw 0;
    padding: 0.5em 1em;
    font-size: clamp(0.8rem, 0.9vw, 1rem);
    color: white;
}

.icones_filtros {
    background-color: #072F4E;
    width: clamp(30px, 3vw, 60px);
    height: clamp(30px, 3vw, 60px);
    border: solid #072F4E;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.3rem 0 0 0.3rem;
    flex-shrink: 0;
}

.icone_filtro {
    background-image: url(../assets/icons/icone_filtro.svg);
}

.icone_pesquisar {
    background-image: url(../assets/icons/icone_pesquisa.svg);
}

.lista_titulo {
    color: #1F547E;
    font-size: clamp(1.5rem, 1.6vw, 3rem);
    font-weight: 300;
}

@media (max-width: 768px) {
    .icones_filtros {
        margin-top: 1vw;
        background-size: 60%;
    }

        .filtros select {
        margin-top: 1vw;
        flex: 92%;
        margin-right: 0;
        }

        .filtros input {
        margin-top: 1vw;
    }
}