.filtros {
    margin-top: 2vw;
    display: flex;
    width: 99%;
    height: 2vw;
}

.filtros select{
    min-width: 21.45%;
    background-color: #393A4E;
    border: none;
    border-radius: 0.3vw;
    margin-right: 1vw;
    padding-left: 0.8vw;
    font-size: 0.8vw;
    color: white;
}

.filtros input {
    width: 100%;
    background-color: #393A4E;
    border: none;
    border-radius: 0.3vw;
    padding-left: 0.8vw;
    font-size: 0.8vw;
    color: white;
}

