/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

/* Tamanho de telas mobile */
@media (max-width: 1023px) {

  .bar,
  .innerbar {
    display: none !important;
  }
}

body {
  overflow-x: hidden;
}



.navbar {
  position: absolute;
  background-color: #F5F5F1;
  width: 90%;
  display: flex;
  border-radius: 1rem;
  margin-top: 1.6rem;
  margin-left: 5%;
  height: 5rem;
  z-index: 10000000000;
}

.logo {
  margin-left: 120%;
}

.innerbar {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  background-color: white;
  height: 3.5rem;
  width: 50%;
  border-radius: 0.8rem;
  z-index: 1;
}

.bar {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.texto_nav {
  margin-right: 5%;
  margin-left: 5%;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.title {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8rem;
  text-align: center;
  margin-left: 0;
  letter-spacing: 0.1rem;
}

.Hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -10000;
  background-image: url('../Images/background_principal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}

.texto-hero {
  margin-top: 15%;
}

.text-base {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-left: 0;
  width: 100%;
}

.login {
  background-color: #0B4293;
  height: 2rem;
  display: flex;
  width: 6rem;
  margin-right: 5%;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  height: 2.2rem;
}

.login-text {
  text-decoration: none;
  color: white;
  padding-left: 25%;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}


.tela-cards {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/background-cards.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  inset: 0;
  overflow: hidden;
}


.tela-cards .cards-container {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  z-index: 1001;

}

.flipcard {
  position: relative;
  width: 500px;
  height: 400px;
}

.frenteFlip,
.costasFlip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9BC2FC;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: transform 0.6s;
  backface-visibility: hidden;
  border-radius: 12px;

}

.costasFlip {
  background-color: #9BC2FC;

  transform: rotateY(180deg);
}

.frenteFlip img {
  width: 160px;
  height: 150px;

}


.flipcard:hover .costasFlip {
  transform: rotateY(0deg);
}

.flipcard:hover .frenteFlip {
  transform: rotateY(-180deg);
}

.frenteFlip {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.costasFlip {
  font-size: 26px;
  text-align: center;
  flex-direction: column;
}

.terceira-tela {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #1a237e, #0b4293, #1565c0, #0d3266, #08284d);
}

.scroller {
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  border-radius: 1rem;
}

.scroller_inner {
  display: flex;
  gap: 10rem;
  align-items: center;
  min-width: max-content;
  padding: 0 2rem;
}

.scroller[data-animate=true] .scroller_inner {
  animation: scroll 40s linear infinite;
}

.scroller[data-animate=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(to right,
      transparent, rgb(255, 255, 255) 5%,
      rgb(255, 255, 255) 95%, transparent);

  mask: linear-gradient(to right,
      transparent, rgb(255, 255, 255) 5%,
      rgb(255, 255, 255) 95%, transparent);
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.subtitulo {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 15rem;
}

.linha-azul {
  width: 100%;
  height: 0.5rem;
  background-color: #0B4293;
}

.inner-title {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 0.1rem;
}


/* PARTE DO MAPA COM OS BLOQUINHOS */
.barra-branca-pequena {
  width: 10%;
  height: 0.5rem;
  background-color: #F5F5F1;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.texto-contatenos {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.bloco-geral {
  display: flex;
  flex-direction: row;
}

.bloco-esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  height: 28.15rem;
  width: 34rem;
  margin-left: 21%;
}

.bloco-direita iframe {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  margin-right: 40%;
}

.bloco-direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloquinhos img {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.bloquinhos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 13rem;
}

.bloquinhos a {
  text-decoration: none;
  color: inherit;  
}

.titulo-contato, .descricao-contato {
  text-align: center;
}

@media (max-width: 1024px) {
  .bloco-geral {
    flex-direction: column;
    gap: 2rem;
  }
  .bloco-esquerda, 
  .bloco-direita {
    width: 100%;
    margin: 0;
  }
}