/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

.index {
    background: url(../Images/BG1blur.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
}

#text1 {
    font-size: 6rem;
    color: white;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    width: 63rem;
    margin-bottom: 0;
}

#text2 {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    font-family: 'Inter';
    margin-top: 20px;
    width: 35rem;
    width: 68rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
}