
.cards {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
    
}

.card {
    background: #ffffff79;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    min-width: 13vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.label {
    font-size: 0.8rem;
    opacity: 0.7;
}

.value {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 8px;
}

#gauge{
    max-width: 11vw;
    align-self: center;
    
}

.graficos{
    display: flex;
    width: 85vw;
    height: 70vh;
    padding: 20px;
    background-color: #ffffff79;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    justify-content: space-around;
}

#correlationHeatmap{
    display: flex;
    width: 40vw;
    height: 10vh;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 7px;

}
