/*
  /$$$$$$                        /$$               /$$                              
 /$$__  $$                      | $$              |__/                              
| $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$ /$$$$$$$   /$$$$$$   /$$$$$$ 
| $$       /$$__  $$| $$__  $$|_  $$_/   |____  $$| $$| $$__  $$ /$$__  $$ /$$__  $$
| $$      | $$  \ $$| $$  \ $$  | $$      /$$$$$$$| $$| $$  \ $$| $$$$$$$$| $$  \__/
| $$    $$| $$  | $$| $$  | $$  | $$ /$$ /$$__  $$| $$| $$  | $$| $$_____/| $$      
|  $$$$$$/|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$| $$  | $$|  $$$$$$$| $$      
 \______/  \______/ |__/  |__/   \___/   \_______/|__/|__/  |__/ \_______/|__/      
*/

.popup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #181a2898 75.1%, #145eff60 100%);
    backdrop-filter: blur(6px);
    padding: 0 1rem;
}

.popup_container .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(250px, 30vw, 500px);
    margin: 0;
    height: fit-content;
    background-color: #072F4E;
    border-radius: clamp(5px, 0.3vw, 12px);
    color: white;
}

.popup_container h1 {
    margin-top: clamp(1rem, 3vw, 3rem);
    font-size: clamp(1.2rem, 1.7vw, 2rem);
    font-weight: 500;
    padding: 0;
}

.popup_container h2 {
    margin-top: clamp(0.5rem, 1vw, 1.5rem);
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: 500;
    color: #fff;
    padding: 0;
}


.popup_container h3 {
    margin-top: clamp(0.2rem, 0.1vw, 0.5rem);
    font-size: clamp(0.9rem, 0.9vw, 1.2rem);
    font-weight: 300;
    padding: 0;
}

.popup_container img {
    object-fit: cover;
    margin-top: clamp(1rem, 2vw, 2.5rem);
    width: clamp(60px, 8vw, 120px);
    height: clamp(60px, 8vw, 120px);
    border-radius: 50%;
}

/* /$$$$$$                                 /$$             
|_  $$_/                                | $$             
  | $$   /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$   /$$$$$$$
  | $$  | $$__  $$ /$$__  $$| $$  | $$|_  $$_/  /$$_____/
  | $$  | $$  \ $$| $$  \ $$| $$  | $$  | $$   |  $$$$$$ 
  | $$  | $$  | $$| $$  | $$| $$  | $$  | $$ /$$\____  $$
 /$$$$$$| $$  | $$| $$$$$$$/|  $$$$$$/  |  $$$$//$$$$$$$/
|______/|__/  |__/| $$____/  \______/    \___/ |_______/ 
                  | $$                                   
                  | $$                                   
                  |__/                                   
*/

/* Labels */
.icone_deletar img {
    display: none;
}

.input-label-wrapper {
    margin-bottom: clamp(2px, 0.3vw, 5px);
    margin-top: clamp(5px, 0.6vw, 10px);
    font-weight: 300;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.popup_container .popup .inputs {
    display: flex;
    flex-direction: column;
    padding: clamp(10px, 2vw, 20px);
    width: 100%;
    font-size: clamp(0.7rem, 0.8vw, 1rem);
    font-weight: 300;
}


.popup_container .popup .inputs input,
.popup_container .popup .inputs select {
    background-color: #252d92;
    padding: clamp(5px, 0.5vw, 12px);
    border: none;
    border-radius: clamp(3px, 0.3vw, 10px);
    color: white;
    font-size: clamp(0.7rem, 0.7vw, 1rem);
    font-weight: 300;
}

/*
 /$$$$$$$              /$$                                  
| $$__  $$            | $$                                  
| $$  \ $$  /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$   /$$$$$$$
| $$$$$$$  /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$ /$$_____/
| $$__  $$| $$  \ $$  | $$    | $$  \ $$| $$$$$$$$|  $$$$$$ 
| $$  \ $$| $$  | $$  | $$ /$$| $$  | $$| $$_____/ \____  $$
| $$$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$/|  $$$$$$$ /$$$$$$$/
|_______/  \______/    \___/   \______/  \_______/|_______/ 
*/

.popup_container .popup .btns_popup {
    display: flex;
    width: 100%;
    padding: clamp(10px, 2vw, 20px);
    gap: clamp(5px, 1vw, 15px);
}

.popup_container .popup .btns_popup a,
.popup_container .popup .btns_popup button {
    width: 100%;
}


.popup_container .popup .btns_popup button {
    background-color: #252d92;
    border: none;
    border-radius: clamp(3px, 0.3vw, 10px);
    font-size: clamp(0.9rem, 1vw, 1.2rem);
    font-weight: 300;
    padding: clamp(5px, 0.4vw, 12px);
    color: white;
    margin-bottom: clamp(10px, 2vw, 20px);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.popup_container .popup .btns_popup button:hover {
    background-color: #080c50;
    color: #30618a;
    font-weight: 500;
}

.input_header {
    background-color: rgba(255, 0, 0, 0) !important;
    padding: 0 !important;
    font-size: clamp(1.5rem, 1vw, 2.5rem) !important;
}

@media (max-width: 768px) {
    .popup_container .popup {
        width: 90%;
        padding: 2rem;
    }

    .popup_container .popup .btns_popup {
        flex-direction: column;
    }
}

#mensagem_erro {
    text-align: center;
    max-width: 90%;
}




footer {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.dashButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-inline: 15px;
    background-color: #080c50;
    border-radius: 50rem;
    gap: 15px;
}

.dashButtons a img {
    width: 2.22vw;
    border-radius: 50rem;
    transition-duration: .3s;
}

.dashButtons a img:hover {
    scale: 1.1;
    transition-duration: .3s;
}