.container_servidores {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    font-weight: 300;
}

/*
  /$$$$$$                            /$$                  /$$$$$$                                 /$$       /$$                    
 /$$__  $$                          | $$                 /$$__  $$                               |__/      | $$                    
| $$  \__/  /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$$      | $$  \__/  /$$$$$$   /$$$$$$  /$$    /$$ /$$  /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$       |____  $$ /$$__  $$ /$$__  $$ /$$_____/      |  $$$$$$  /$$__  $$ /$$__  $$|  $$  /$$/| $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$        /$$$$$$$| $$  \__/| $$  | $$|  $$$$$$        \____  $$| $$$$$$$$| $$  \__/ \  $$/$$/ | $$| $$  | $$| $$  \ $$| $$  \__/
| $$    $$ /$$__  $$| $$      | $$  | $$ \____  $$       /$$  \ $$| $$_____/| $$        \  $$$/  | $$| $$  | $$| $$  | $$| $$      
|  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$ /$$$$$$$/      |  $$$$$$/|  $$$$$$$| $$         \  $/   | $$|  $$$$$$$|  $$$$$$/| $$      
 \______/  \_______/|__/       \_______/|_______/        \______/  \_______/|__/          \_/    |__/ \_______/ \______/ |__/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
*/

.lista_servidores {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 99%;
    max-height: 73vh;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.card_servidor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 clamp(350px, 24rem, 480px); /* ajusta automaticamente */
    background-color: #072F4E;
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    text-align: center;
    border-radius: 0.3vw;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    max-width: 28rem;
    min-height: 8em;
    
}

.card_servidor .servidor_informacoes {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    flex: 1;
}

.card_servidor:hover{
    background-color: #080d1d;
    padding-right: 1vw;
}

/*
  mmmmmm                mmmm                                                       mm                         
  ""##""               ##"""                                                      "  ""                       
    ##     ##m####m  #######    m####m    ##m####  ####m##m   m#####m   m#####m   m####m    m####m   mm#####m 
    ##     ##"   ##    ##      ##"  "##   ##"      ## ## ##   " mmm##  ##"    "  ##"  "##  ##mmmm##  ##mmmm " 
    ##     ##    ##    ##      ##    ##   ##       ## ## ##  m##"""##  ##        ##    ##  ##""""""   """"##m 
  mm##mm   ##    ##    ##      "##mm##"   ##       ## ## ##  ##mmm###  "##mmmm#  "##mm##"  "##mmmm#  #mmmmm## 
  """"""   ""    ""    ""        """"     ""       "" "" ""   """" ""    ""#""     """"      """""    """"""  
                                                                          mm#                                 

*/

.card_servidor #servidor_estado {
    display: flex;
    justify-content: center;
    width: 3rem;
}

.card_servidor #servidor_estado img {
    padding: 0.4vw;
    width: clamp(20px, 2vw, 40px);
    height: clamp(20px, 2vw, 40px);
}

.card_servidor #servidor_nome {
    font-size: clamp(0.6rem, 1.0vw, 1.4rem);
    padding-top: 0.3vw;
}

.card_servidor #servidor_localizacao {
    font-size: clamp(0.6rem, 0.8vw, 1rem);
    color: #c5cbcf;
    padding-bottom: 0.4vw;
    max-width: 90%;
}

.card_servidor #servidor_recursos_em_risco{
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    padding-bottom: 0.3vw;
}


.card_servidor #servidor_recursos_em_risco span{
    font-weight: 700;
}

/*                                                                                                               
 mmmmmm                                                      mm                                                          mmmm     
 ##""""##                                                    ##                    ##                                    ""##     
 ##    ##   m#####m   ##m####   ##m####   m#####m            ##         m#####m  #######    m####m    ##m####   m#####m    ##     
 #######    " mmm##   ##"       ##"       " mmm##            ##         " mmm##    ##      ##mmmm##   ##"       " mmm##    ##     
 ##    ##  m##"""##   ##        ##       m##"""##            ##        m##"""##    ##      ##""""""   ##       m##"""##    ##     
 ##mmmm##  ##mmm###   ##        ##       ##mmm###            ##mmmmmm  ##mmm###    ##mmm   "##mmmm#   ##       ##mmm###    ##mmm  
 """""""    """" ""   ""        ""        """" ""            """"""""   """" ""     """"     """""    ""        """" ""     """"                                                                                                                              
*/

.card_servidor .barra_lateral {
    width: clamp(4px, 0.6vw, 10px);
    height: 100%;
}

.card_servidor .critico{
    background-color: rgb(226, 50, 50);
}

.card_servidor .alerta{
    background-color: rgb(209, 184, 70);
}

.card_servidor .estavel{
    background-color: rgb(54, 194, 54);
}


/*                                                          
 mmm  mmm            mm           ##     mmmm               
 ###  ###            ##           ""     ""##               
 ########   m####m   ##m###m    ####       ##       m####m  
 ## ## ##  ##"  "##  ##"  "##     ##       ##      ##mmmm## 
 ## "" ##  ##    ##  ##    ##     ##       ##      ##"""""" 
 ##    ##  "##mm##"  ###mm##"  mmm##mmm    ##mmm   "##mmmm# 
 ""    ""    """"    "" """    """"""""     """"     """""                                                              
*/
@media (max-width: 768px) {
    .container_servidores {
        font-size: 0.9rem;
    }

    .lista_servidores {
        flex-direction: column;
        max-height: none;
        gap: 0.8rem;
    }

    .card_servidor {
        flex-direction: row;
        width: 100%;
        font-size: 0.9rem;
        max-width: 100%;
        max-height: 6rem;
    }

    .card_servidor img {
        width: 25px;
        height: 25px;
    }

    .card_servidor .barra_lateral {
        width: 5px;
    }
}