.container_cards_empresas {
    width: 99%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    max-height: 69vh;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
}

.container_cards_empresas .card_empresa {
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 54, 54);
    padding: 1vw;
    font-size: 0.8vw;
    border-radius: 0.3vw;
}

.container_cards_empresas .card_empresa #id_card_empresa_informacoes #id_nomeEmpresa {
    font-weight: 700;
}

.container_cards_empresas .card_empresa #id_card_empresa_informacoes span {
    color: red;
}


.container_cards_empresas .card_empresa #id_card_empresa_botoes{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.container_cards_empresas .card_empresa #id_card_empresa_botoes button{
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 0.8vw;
}

.container_cards_empresas .card_empresa #id_card_empresa_botoes .botao_aprovar{
    background-image: url("../assets/icons/icone_confirmar.svg");
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.3s;
    background-size: 40%;
}


.container_cards_empresas .card_empresa #id_card_empresa_botoes .botao_aprovar:hover{
    background-color: rgb(13, 75, 13);
}

.container_cards_empresas .card_empresa #id_card_empresa_botoes .botao_rejeitar{
    background-color: red;
    background-image: url("../assets/icons/icone_rejeitar.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.3s;
    background-size: 40%;
}

.container_cards_empresas .card_empresa #id_card_empresa_botoes .botao_rejeitar:hover{
    background-color: rgb(75, 13, 13);
}

