.page_content {
    margin-left: 5.8vw;
    padding-top: 6vw;
}

.headers {
    display: flex;
}

.card_adicionar {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 0.1vw #E0F1FF;
    width: 20vw;
    height:  7vw;
    color: #E0F1FF;
    font-size: 0.8vw;
    transition: ease-in-out 0.3s;
}

.card_adicionar:hover {
    background-color: rgb(30, 20, 83);
    padding-bottom: 1vw;
}

.card_adicionar img{
    margin-bottom: 0.8vw;
    width: 2vw;
}

.card_adicionar h2 {
    font-weight: 300;
}

.info-card {
    color: #E0F1FF;
    padding-left: 1.2vw;
}
.info-card h1{
    font-size: 3vw;
}

.info-card h2{
    font-size: 1.5vw;
}


.cards_servidores {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 26vw;
    gap: 0.5vw;
}

.card_servidor{
    display: flex;
    color: white;
    padding: 0.5vw;
    background-color: #393A4E;
    width: 24.5%;
    border-radius: 0.2vw;
    align-items: center;
    gap: 1vw;
    margin-bottom: 0.1vw;
    cursor: pointer;
}

.card_servidor:hover{
    background-color: #212235;
    transition: ease-in-out 0.3s;
}

.card_servidor img {
    width: 1.5vw;
    border-radius: 0.2vw;
}

.lista_titulo {
    color: white;
    width: 99%;
    padding-top: 1vw;
    padding-bottom: 0.66vw;
    font-size: 1.6vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393A4E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container_usuarios {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1vw;
    font-weight: 300;

}

.lista_usuarios{
    overflow: scroll;
    width: 99%;
    overflow-x: hidden;
    max-height: 27vw;
}

.container_usuarios .usuarios_infos {
    display: flex;
    width: 97.3%;
    text-align: center;
    padding-bottom: 0.5vw;
}     

.usuario_info_foto, #usuario_foto                  {width: 5%;}
.usuario_info_nome, #usuario_nome                  {width: 15%;}
.usuario_info_email, #usuario_cargo                {width: 20%;}
.usuario_info_cargo, #usuario_email                {width: 20%;}
.usuario_info_dataCadastro, #usuario_telefone      {width: 20%;}
.usuario_info_telefone, #usuario_dataCadastro      {width: 20%;}


.card_usuario {
    display: flex;
    width: 99%;
    background-color: #393A4E;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    align-items: center;
    font-size: 0.8vw;
    text-align: center;
    margin-top: 0.5vw;
    border-radius: 0.3vw;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.card_usuario:hover{
    background-color: #1c1c25;
}

#usuario_foto img{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 2vw;
}
